python_demos/output/
.vscode/
cpp_demos/DW_SDK_Cpp_Example/DW ImageClassification/x64
cpp_demos/DW_SDK_Cpp_Example/DW KeypointDetection/x64
cpp_demos/DW_SDK_Cpp_Example/DW SupervisedDefectSegmentation/x64
cpp_demos/DW_SDK_Cpp_Example/DW UnsupervisedDefectSegmentation/x64
cpp_demos/DW_SDK_Cpp_Example/DW_InstanceSegmentation/x64
cpp_demos/DW_SDK_Cpp_Example/x64
data/
cpp_demos/DW_SDK_Qt_Example/build
cpp_demos/DW_SDK_Cpp_Example/bin
cpp_demos/DW_SDK_Cpp_Example/.vs/DW_SDK_Cpp_Example/v16/ipch
cpp_demos/DW_SDK_Cpp_Example/DW ImageClassification/x64
cpp_demos/DW_SDK_Cpp_Example/DW KeypointDetection/x64
cpp_demos/DW_SDK_Cpp_Example/DW ObjectDetection/x64
cpp_demos/DW_SDK_Cpp_Example/DW OCR/x64
cpp_demos/DW_SDK_Cpp_Example/DW Positioning/x64
cpp_demos/DW_SDK_Cpp_Example/DW PresenceChecking/x64
cpp_demos/DW_SDK_Cpp_Example/DW SupervisedDefectSegmentation/x64
cpp_demos/DW_SDK_Cpp_Example/DW UnsupervisedDefectSegmentation/x64
cpp_demos/DW_SDK_Cpp_Example/DW_InstanceSegmentation/x64