python_demos/output/
.vscode/
cpp_demos/DW_SDK_Cpp_Example/DW ImageClassification/x64
cpp_demos/DW_SDK_Cpp_Example/DW KeypointDetection/x64
cpp_demos/DW_SDK_Cpp_Example/DW SupervisedDefectSegmentation/x64
cpp_demos/DW_SDK_Cpp_Example/DW UnsupervisedDefectSegmentation/x64
cpp_demos/DW_SDK_Cpp_Example/DW_InstanceSegmentation/x64
cpp_demos/DW_SDK_Cpp_Example/x64
data/
cpp_demos/DW_SDK_Qt_Example/build
cpp_demos/DW_SDK_Cpp_Example/bin
cpp_demos/DW_SDK_Cpp_Example/.vs/DW_SDK_Cpp_Example/v16/ipch
cpp_demos/DW_SDK_Cpp_Example/DW ImageClassification/x64
cpp_demos/DW_SDK_Cpp_Example/DW KeypointDetection/x64
cpp_demos/DW_SDK_Cpp_Example/DW ObjectDetection/x64
cpp_demos/DW_SDK_Cpp_Example/DW OCR/x64
cpp_demos/DW_SDK_Cpp_Example/DW Positioning/x64
cpp_demos/DW_SDK_Cpp_Example/DW PresenceChecking/x64
cpp_demos/DW_SDK_Cpp_Example/DW SupervisedDefectSegmentation/x64
cpp_demos/DW_SDK_Cpp_Example/DW UnsupervisedDefectSegmentation/x64
cpp_demos/DW_SDK_Cpp_Example/DW_InstanceSegmentation/x64
cs_demos/classification/classification/bin
cs_demos/classification/classification/obj
cs_demos/instance_segmentation/instance_segmentation/bin
cs_demos/instance_segmentation/instance_segmentation/obj
cs_demos/keypoint_detection/bin
cs_demos/keypoint_detection/obj
cs_demos/object_detection/object_detection/bin
cs_demos/object_detection/object_detection/obj
cs_demos/OCR_demo/bin
cs_demos/OCR_demo/obj
cs_demos/positioning/positioning/bin
cs_demos/positioning/positioning/obj
cs_demos/presence_checking/presence_checking/bin
cs_demos/presence_checking/presence_checking/obj
cs_demos/supervised_defect_segmentation/supervised_defect_segmentation/bin
cs_demos/supervised_defect_segmentation/supervised_defect_segmentation/obj
cs_demos/unsupervised_defect_segmentation/unsupervised_defect_segmentation/bin
cs_demos/unsupervised_defect_segmentation/unsupervised_defect_segmentation/obj
cs_demos/WinFormsApp1/bin
cs_demos/WinFormsApp1/obj
**/.vs/
**/x64/
cpp_demos/DW_SDK_Cpp_Example/DW AutoSegmentation/x64
cs_demos/auto_segment/auto_segment/bin
cs_demos/auto_segment/auto_segment/obj

