python_demos/data/instance_segmentation_model.dwm filter=lfs diff=lfs merge=lfs -text
python_demos/data/keypoint_detection_model.dwm filter=lfs diff=lfs merge=lfs -text
python_demos/data/defect_detection_model.dwm filter=lfs diff=lfs merge=lfs -text
python_demos/data/classification_model.dwm filter=lfs diff=lfs merge=lfs -text
